<main>
  <h1><%= cityName %></h1>
  <h2><%= cityTemp %>°F</h2>
  <p><%= description %></p>
  <p>Humidity: <%= humidity %>%</p>
  <p>Wind: <%= windSpeed %> m/s</p>
  <a href="/">Search Again</a>
</main>
